name: Deploy Databricks Notebook

on:
  push:
    branches:
      - main   # Trigger when code is merged to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up Databricks CLI
      - name: Install Databricks CLI
        uses: databricks/setup-cli@v1

      # 3. Authenticate with Databricks
      - name: Configure Databricks Authentication
        run: |
          echo "DATABRICKS_HOST=${{ secrets.adb-3888228431814865.5.azuredatabricks.net }}" >> $GITHUB_ENV
          echo "DATABRICKS_TOKEN=${{ secrets.dapi5b3bfd3c33a9cd448fdca428ac8a838e}}" >> $GITHUB_ENV

      # 4. Deploy Notebook to Databricks Workspace
      - name: Deploy Notebook
        run: |
          # Path to your local notebook
          LOCAL_NOTEBOOK_PATH="/Workspace/Users/gurralasushmareddy@gmail.com"
          # Path in Databricks workspace
          WORKSPACE_NOTEBOOK_PATH="/Workspace/Repos/gurralasushmareddy@gmail.com/CICD-DATABRICKS-PROJECT"

          # Upload notebook to Databricks workspace
          databricks workspace import \
            --format SOURCE \
            --language PYTHON \
            --overwrite \
            $LOCAL_NOTEBOOK_PATH $WORKSPACE_NOTEBOOK_PATH

