name: Deploy Databricks Notebook

on:
  push:
    branches:
      - main   # Trigger when code is merged to main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout the repository
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Set up Databricks CLI
      - name: Install Databricks CLI
        uses: databricks/setup-cli@v1

      # 3. Deploy bundle to test environment
      - run: databricks bundle deploy
         working_directory:main
           DATABRICKS_HOST= ${{ secrets.DEV_DEPLOYMENT_TARGET_URL}} >> $GITHUB_ENV
          DATABRICKS_TOKEN= ${{ secrets.Dev_token}}>> $GITHUB_ENV
          WORKSPACE_NOTEBOOK_PATH= "/Workspace/Repos/gurralasushmareddy@gmail.com/CICD-DATABRICKS-PROJECT"

          

          
          
  
  


          
            
             


